*.pyc
# Environment variables
.env
.env.local

# Python venv
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll

.DS_Store
**/.DS_Store

.DS_Store
**/.DS_Store

pretrain_results/
select_only_results/
**/*.png
**/*.pdf
**/*.jsonl
